:root {
  color: white;
}


body {
  background-color: black;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
  color: white;
  
  
  

  
}

h1 {
  text-align: center;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 200px;
}

input[type="number"] {
  width: 100px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #bc13fe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #bc13fe;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  padding: 0 1.5em;
}
.reset {
  margin-top: 10%;
}